[Unit]
Description=Simple Stellar Core Monitoring Script

[Service]
ExecStart=/path/to/your/script/my_script.sh
WorkingDirectory=/path/to/your/script
StandardOutput=journal
StandardError=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target